$main: darkblue;
$accent: #e3e030;
$background: blue;

$card-width: 10rem;
$card-height: 15rem;

$card-width-md: (3/4) * $card-width;
$card-height-md: (3/4) * $card-height;

$card-width-sm: (2/3) * $card-width;
$card-height-sm: (2/3) * $card-height;

$md-max: 992px;
$sm-max: 768px;