@use 'sass:math';

$main: rgb(0, 0, 110);
$accent: #e3e030;
$background: rgb(0, 0, 210);
$greyed: rgb(50, 50, 50);

$card-width: 10rem;
$card-height: 15rem;

$card-width-md: math.div(3, 4) * $card-width;
$card-height-md: math.div(3, 4) * $card-height;

$card-width-sm: math.div(3, 5) * $card-width;
$card-height-sm: math.div(3, 5) * $card-height;

$md-max: 992px;
$sm-max: 768px;

$font-size: 1rem;
$font-size-md: 1rem;
$font-size-sm: 0.8rem;

$grid-gap: 1.3rem;

$outline: 3px solid $accent;