@import '../utilities/variables';

$grid-gap: '20px';

.collection {
  height: auto;
  width: auto;
  background-color: $background;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, auto);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.grid .item {
  grid-column: span 1 / span 1;
  width: auto;
  height: auto;
}