@import '../utilities/variables';

$grid-gap: '20px';

.collection {
  height: 100%;
  background-color: $background;
}

.grid {
  display: flex;
  flex: wrap;
}
.grid .item {
  grid-column: span 1 / span 1;
  width: $card-width;
  height: $card-height;
  margin: 10px;
}