@import '../utilities/_variables';


.collection {
  height: auto;
  width: auto;
  background-color: $background;
  color: white;
  padding: 1rem;
  .collection-container {
    padding: 0.7rem;
    background-color: lightslategrey;
    box-shadow: 0 0 7px 1px black inset;
  }
  h1 {
    margin-top: 0;
  }
}

.submit-button {
  margin-bottom: 10px;
  background-color: $background;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 2px solid white;

  &:focus {
    outline: $outline;
  }

}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(auto-fill, auto);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

  @media only screen and (max-width:$md-max) and (min-width:$sm-max) {
    grid-template-columns: repeat(4, auto);
  }
  
  @media only screen and (max-width:$sm-max) {
    grid-template-columns: repeat(4, auto);
  }

}

.grid .item {
  grid-column: span 1 / span 1;
  width: auto;
  height: auto;
}